.addbook {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 97%;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 20px;
  border-top: 3px solid #e8e8e8;
}

.addbook-title {
  font-size: 2rem;
  font-weight: 700;
  color: #888;
  margin: 20px 0;
}

.addbook-form {
  display: flex;
  width: 100%;
  align-items: center;
}

.addbook-form-item {
  margin-right: 20px;
}

input {
  padding: 20px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 520px;
  margin-right: 10px;
}

.bookbtn {
  width: 150px;
}
