.contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 35px 40px;
}

.content {
  width: 90%;
  max-width: 1820px;
  margin-top: 50px;
  background-color: #fafafa;
}

.header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
}
